exportPattern("^[[:alpha:]]+")
importFrom("stats", dist)
import("dplyr")
import("ggplot2")
import("gganimate")
importFrom("ggpubr", ggarrange, rremove)
import("stringr")
import("tidyr")
importFrom("data.table", setkey, data.table)
importFrom("infotheo", entropy)
importFrom("RColorBrewer", brewer.pal)